<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Article Edit Page</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Edit page for "<%= article.title %>"</h1>
    <p><%= article.content %></p>

    <hr>

    <!-- TODO: Create the form that PUTs to /lamps/:id -->
    <form method="POST" action="/lamps/<%= article._id%>?_method=PUT">
        <!-- ?_method=PUT" is a common work around to put the PUT method into the action -->
        <label for="title">New Lamp:</label>
        <input name="title" type="text">
        <!-- req.body.tite -->
        <br>
        <label for="title">New Lamp Content:</label>
        <input name="content" type="text">
        <!-- req.body.content -->
        <br>
        <input type="submit">
    </form>
</body>
</html>