<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Music</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href ='/music'>All Music</a></li>
                <li><a href='/music/new'>Edit a Song</a></li>
            </ul>
        </nav>
    </header>
    <h1>Edit <%= oneSong.name %></h1>
    <form action='/music' method='POST'>
        <label for='name'>Name:</label>
        <input name='name' type='text' value='<%= oneSong.name %>'>
        <br>
        <label for='artist'>Artist:</label>
        <input name='artist' type='text' value='<%= oneSong.artist %>'>
        <br>
        <label for='wouldRecommend'>Would Recommend?</label>
        <input name='wouldRecommend' type='checkbox' <%= oneSong.wouldRecommend ? 'checked' : '' %>>
        <br>
        <input type='submit' value='Add Song'>
    </form>
</body>
</html>