<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/male">Home Page</a></li>
                <li><a href="/male/:maleId">Show One</a></li>
                <li><a href="/male/new">Add One</a></li>
            </ul>
        </nav>
    </header>   
    <h1>Here are my favorite male anime leads.</h1>
    <% for (let i = 0; i < allMales.length; i++) {%>
        <a href = "/male/<%= allMales[i]._id %>">
            <h3><%= allMales[i].name%></h3>
        </a>
        <button><a href="/male/<%= allMales[i]._id %>/edit">Update Character</a></button>
        <br>
        <br>
        <form action = "/male/<%= allMales[i]._id %>?_method=DELETE" method = "POST"> 
            <input type = "submit" value = "Delete Character">
        </form>
    <% } %>
</body>
</html>

