<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('./templates/navbar.ejs')%>
        <h1>Add a Character</h1>
        <h2>fill out the form below</h2>
    </header>   
    <form action="/male" method="POST">
        <label for="name">Name: </label>
        <input type = "text" id ="maleName" name="name"/>
        <br>
        <br>
        <label for="show">Show: </label>
        <input type = "text" id ="showName" name="show"/>
        <br>
        <br>
        <label for="age">Age: </label>
        <input type = "text" id ="characterAge" name="age"/>
        <br>
        <br>
        <label for="favorite">Favorite: </label>
        <input type = "checkbox" id ="favoriteRank" name="favorite"/>
        <br>
        <br>
        <label for="image">Add a Picture: </label>
        <input type = "text" id ="pic" name="image"/>
        <br>
        <br>
        <input type= "submit" value = "Add This Character"/>
    </form>
</body>
</html>