<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Music</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href ='/music'>All Music</a></li>
                <li><a href='/music/new'>Add Music</a></li>
            </ul>
        </nav>
    </header>
    <h1>Add Music</h1>
    <form action='/music' method='POST'>
        <label for='name'>Name:</label>
        <input name='name' type='text'>
        <br>
        <label for='artist'>Artist:</label>
        <input name='artist' type='text'>
        <br>
        <label for='wouldRecommend'>Would Recommend?</label>
        <input name='wouldRecommend' type='checkbox'>
        <br>
        <input type='submit' value='Add Song'>
    </form>
</body>
</html>