<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/male">Home Page</a></li>
                <li><a href="/male/:maleId">Show One</a></li>
                <li><a href="/male/new">Add One</a></li>
                <li><a href="/male/:maleId/edit">Update One</a></li>
            </ul>
        </nav>
    </header>   
    <h1>This is where you can view a single male</h1>
</body>
</html>