<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                 <li><a href="/names">All Names</a></li>
                <li><a href="/names/new"></a>Create a Name</li>
            </ul>
        </nav>
    </header>
    
    <h1>Names shoow page</h1>
    <p>The <%= oneName.firstName %> is <%= oneName.letters %> letters long.</p>
    <% if (oneName.startsWithAConsonant === true) { %>
    <p>It starts with a consonanat.</p>
        else {
            <p>It starts with a vowel.</p>
    <%  } %>
</body>
</html>