<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Build a Custom bot! 🤖</h1>
    <a href="/">Home</a>
    <a href="/robots">Robots</a>
    <br>
    <br>
    <form action ="/robots" method="POST">
        <label for="robotName"> Name: </label>
        <input type="text" id="robotName" name="robotName">
        <br>
        <br>
        <label for="robotPrice"> Price: </label>
        <input type="text" id="robotPrice" name="robotPrice">
        <br>
        <br>
        <label for="robotCompany"> Company: </label>
        <input type="text" id="robotCompany" name="robotCompany">
        <br>
        <br>
        <label for="robotLaunchDate"> Launch Date: </label>
        <input type="text" id="robotLaunchDate" name="robotLaunchDate">
        <br>
        <br>
        <input type="submit" value="Complete Build">
    </form>
</body>
</html>