<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Resident</title>
</head>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>Add a Resident</h1>

    <form action="/residents" method="POST">
        <label for="residentName">Resident Name: </label>
        <input type="text" id="residentName" name="residentName">
        <br />
        <br />
        <input type="submit" value="Create a Resident">
    </form>

</body>

</html>