<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/capy">all capy</a></li>
                <li><a href="/capy/new">create a capy</a></li>
            </ul>
        </nav>
      </header>
    <h1>New Page</h1>
    <form action="/capy" method="POST">
        <label for="name">Name:</label> 
        <input name="name" type="text"> 
        <br>
        <label for="age">Age:</label> 
        <input name="age" type="text"> 
        <br>
        <input type="submit" value="Create Item">
        <br>
    </form>
</body>
</html>