<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/capy">all capy</a></li>
                <li><a href="/capy/new">create a capy</a></li>
            </ul>
        </nav>
      </header>
    
      <h1>Show Page</h1>
      <p>The capy named "<%= oneCapy.name %>" is <%= oneCapy.age %>.</p>
      
    
</body>
</html>